<div class="container">
  <header><img src="https://cdn.dribbble.com/users/97870/screenshots/1907617/controller.gif" class="center"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Game Circle</h2>

    <div class="content">
      <p>Hey! Game Circle is a space on the web to connect with other gamers. Have discussions, team up, collab on twitch.</p>
    </div>
    <%# create a profile to connect with other gamers %>


  </div>
</div>
